<div class="main">
  <div class="navbar">
    <div class="navbar-item">
      <div class="navbar-top-container"></div>
      <div class="navbar-bottom-container"></div>
    </div>
    <div class="navbar-item">
      <div class="navbar-top-container"></div>
      <div class="navbar-bottom-container"></div>
    </div>
    <div class="navbar-item">
      <div class="navbar-top-container"></div>
      <div class="navbar-bottom-container"></div>
    </div>
    <div class="navbar-item">
      <div class="navbar-top-container"></div>
      <div class="navbar-bottom-container"></div>
    </div>
    <div class="navbar-center-title">
      <div class="navbar-title">Casual Studio</div>
    </div>
    <div class="navbar-open-button">
      <button class="button-input delete-button-decoration" (click)="changeMenuState()">
                        <span class="button-icon"><svg
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 192 512">
                            <path d="M160 448h-32V224c0-17.69-14.33-32-32-32L32 192c-17.67 0-32 14.31-32 32s14.33 31.1 32 31.1h32v192H32c-17.67 0-32 14.31-32 32s14.33 32 32 32h128c17.67 0 32-14.31 32-32S177.7 448 160 448zM96 128c26.51 0 48-21.49 48-48S122.5 32.01 96 32.01s-48 21.49-48 48S69.49 128 96 128z"/></svg></span>
      </button>
    </div>
  </div>
  <div class="left-navbar">
    <div class="left-navbar-container">
      <div class="left-navbar-text">Casual</div>
    </div>
    <div class="left-navbar-container">
      <div class="left-navbar-text">Studio</div>
    </div>
  </div>
  <div class="menu-container">
    <div class="col-60">
      <div class="inner-list">
        <app-list-item [imgSrc]="'../assets/image/cubesandcrystals.png'"
                       [imgUrl]="'https://play.google.com/store/apps/details?id=com.Anechaev.CC'"
                       [title]="'Cubes&Crystals'"></app-list-item>
        <app-list-item [imgSrc]="'../assets/image/cubemaze.png'"
                       [imgUrl]="'#'"
                       [title]="'Cubemaze'"></app-list-item>
        <app-list-item [imgSrc]="'../assets/image/trickyball.png'"
                       [imgUrl]="'https://play.google.com/store/apps/details?id=com.CasualStudio.TrickyBall'"
                       [title]="'TrickyBall'"></app-list-item>
        <app-list-item [imgSrc]="'../assets/image/chairworld.png'"
                       [imgUrl]="'#'"
                       [title]="'Chair World'"></app-list-item>
      </div>
    </div>
    <div class="row">
      <div class="close-container" #close_container>
        <div class="information-container">
          <button class="button-input close-button delete-button-decoration"  (click)="changeMenuState()">
            <span class="close-button">&times;</span>
          </button>
          <div class="information-inner">
            <div class="information-text">Casual Studio - группа разработчиков,
              создающие гипер-казуальные мобильные игры. Наша главная задача -
              выпускать интересные и увлекательные игры, в которых любой найдет игру по душе.
            </div>
          </div>
          <div class="information-inner">
            <div class="information-social"><a href="https://t.me/casual_studio">Telegram</a></div>
          </div>
          <div class="information-inner">
            <div class="information-social"><a href="https://vk.com/casualstudio">Vk</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
